
<header>
    <nav>
        <ul class="nav__links">
            <li>
                <a href="/home">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
                <a href="/camrover">RoverCam Support</a>
            </li>
        </ul>
    </nav>
</header>