<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ROVER SEARCH</title>
    <link rel="icon" href= "/styles/images/Mars.png" type="image/x-icon"> 
    <link rel="stylesheet" href="/styles/about.css">
</head>

<%- include("partials/navbar.ejs") %>

<body>
    <div class="about-container-bigbox">
        <div class="about-container">
            <div>
                <h1>About Us</h1>
            </div>
            <div class="about-mission">
                <h2>Our Mission</h2>
                <p>We want to create a searchable website for images of rovers on Mars. To learn about it and inspire everyone.</p>
            </div>
            <div class="about-who-we-are">
                <h2>Who We Are</h2>
                <p>We want to create a searchable website for images of rovers on Mars. To learn about it and inspire everyone.</p>
                <ul>
                    <li>History of Tate</li>
                    <li>Our commitment to race equality</li>
                    <li>Policies and Procedures</li>
                </ul>
                <div class="about-container-photo-box">
                    <img src="/styles/images/Mars.png" alt="Mars" width="200px" height="200px">
                    <img src="/styles/images/mars-rover1.png" alt="MarsRover" width="200px" height="200px">
                </div>
          </div>
        </div>
    </div>
</body>