<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ROVER SEARCH</title>
    <link rel="icon" href= "/styles/images/Mars.png" type="image/x-icon"> 
    <link rel="stylesheet" href="/styles/CamRover.css">
</head>

<%- include("partials/navbar.ejs") %>

<body>
    <div class="CamRover">
        <table>
            <thead>
                <tr>
                    <th>Abbreviation</th>
                    <th>Camera</th>
                    <th class="markerBox">Perseverance</th>
                    <th class="markerBox">Curiosity</th>
                    <th class="markerBox">Opportunity</th>
                    <th class="markerBox">Spirit</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>FHAZ</td><td>Front Hazard Avoidance Camera</td><td></td><td>✔</td><td>✔</td><td>✔</td></tr>
                <tr><td>RHAZ</td><td>Rear Hazard Avoidance Camera</td><td></td><td>✔</td><td>✔</td><td>✔</td></tr>
                <tr><td>MAST</td><td>Mast Camera</td><td></td><td>✔</td><td></td><td></td></tr>
                <tr><td>CHEMCAM</td><td>Chemistry and Camera Complex</td><td></td><td>✔</td><td></td><td></td></tr>
                <tr><td>MAHLI</td><td>Mars Hand Lens Imager</td><td></td><td>✔</td><td></td><td></td></tr>
                <tr><td>MARDI</td><td>Mars Descent Imager</td><td></td><td>✔</td><td></td><td></td></tr>
                <tr><td>NAVCAM</td><td>Navigation Camera</td><td></td><td>✔</td><td>✔</td><td>✔</td></tr>
                <tr><td>PANCAM</td><td>Panoramic Camera</td><td></td><td></td><td>✔</td><td>✔</td></tr>
                <tr><td>MINITES</td><td>Miniature Thermal Emission Spectrometer (Mini-TES)</td><td></td><td></td><td>✔</td><td>✔</td></tr>
                <tr><td>NAVCAM_LEFT</td><td>Navigation Camera - Left</td><td>✔</td><td></td><td></td><td></td></tr>
                <tr><td>NAVCAM_RIGHT</td><td>Navigation Camera - Right</td><td>✔</td><td></td><td></td><td></td></tr>
                <tr><td>MCZ_RIGHT</td><td>Navigation Camera - Right</td><td>✔</td><td></td><td></td><td></td></tr>
                <tr><td>MCZ_LEFT</td><td>Navigation Camera - Right</td><td>✔</td><td></td><td></td><td></td></tr>
                <tr><td>FRONT_HAZCAM_LEFT_A</td><td>Front Hazard Avoidance Camera - Left</td><td>✔</td><td></td><td></td><td></td></tr>
                <tr><td>FRONT_HAZCAM_RIGHT_A</td><td>Front Hazard Avoidance Camera - Right</td><td>✔</td><td></td><td></td><td></td></tr>
                <tr><td>REAR_HAZCAM_LEFT</td><td>Rear Hazard Avoidance Camera - Left</td><td>✔</td><td></td><td></td><td></td></tr>
                <tr><td>REAR_HAZCAM_LEFT</td><td>Rear Hazard Avoidance Camera - Right</td><td>✔</td><td></td><td></td><td></td></tr>
                <tr><td>EDL_RDCAM</td><td>Rover Down-Look Camera</td><td>✔</td><td></td><td></td><td></td></tr>
                <tr><td>SKYCAM</td><td>MEDA Skycam</td><td>✔</td><td></td><td></td><td></td></tr>
                <tr><td>SHERLOC_WATSON</td><td>SHERLOC WATSON Camera</td><td>✔</td><td></td><td></td><td></td></tr>
                <tr><td>SUPERCAM_RMI</td><td>SuperCam Remote Micro Imager</td><td>✔</td><td></td><td></td><td></td></tr>
                <tr><td>LCAM</td><td>Lander Vision System Camera</td><td>✔</td><td></td><td></td><td></td></tr>
            </tbody>
        </table>
    </div>
</body>


