<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ROVER SEARCH</title>
    <link rel="icon" href= "/styles/images/Mars.png" type="image/x-icon"> 
    <link rel="stylesheet" href="/styles/contact.css">
</head>

<%- include("partials/navbar.ejs") %>

<body>
  <div class="contact-container">
    <div class="contact-container-box">
      <div>
        <h1 class="contact-title">Reach Out to Us</h1>
        <p class="contact-intro">We'd love to hear from you, astronaut!</p>
      </div>
      <div class="contact-form-container"></div>
      <div class="contact-info-container">
        <h2>Mars Headquarters</h2>
        <p>Valles Marineris, Utopia Planitia</p>
        <p>+1 (212) 555-1234 (Earth Call Forwarding)</p>
        <p>contact@RoverOnmars.com</p>
      </div>
      <div class="contact-container-photo-box">
        <img src="/styles/images/Mars.png" alt="Mars" width="200px" height="200px">
        <img src="/styles/images/mars-rover1.png" alt="MarsRover" width="200px" height="200px">
      </div>
    </div>
  </div>
</body>

<%- include("partials/footer.ejs") %>

